@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
   width: 100vw;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.chat-bubble-msg{
  max-height: 50vh;
  overflow-y: auto;
  overflow-x: hidden;
}

canvas {
    display: block;
    justify-content: center !important;
    align-items: center !important;
    align-content: center !important;
    align-self: center !important;
  }

  #particles-js {
    position: absolute;
    width: 95%;
    height: 95%;
    background-color: #8400ff00;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    align-content: center !important;
    align-self: center !important;
  }

  .count-particles {
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #be78ff;
    font-size: 0.8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    align-content: center !important;
    align-self: center !important;
  }
  .js-count-particles {
    font-size: 1.0em;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    align-content: center !important;
    align-self: center !important;
  }
  #stats,
  .count-particles {
    margin: 5px;
    padding: 5px;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    align-content: center !important;
    align-self: center !important;
  }
  #stats {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    align-content: center !important;
    align-self: center !important;
  }
  .count-particles {
    border-radius: 0 0 3px 3px;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    align-content: center !important;
    align-self: center !important;
  }